* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
  }
  
body {
    display: flex;
    min-height: 100vh;
    padding: 0 25%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 1));
    background-position: center;
    background-size: cover;
    background-color: black;
    gap: 50px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
  }
    
    .container {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 50px;
      width: 100%;
      height: auto;
    }

    .box1 {
      display: flex;
      flex-direction: column;
      gap: 50px;
    }

#status {
  font-weight: bold;
  font-size: 70px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
  
    .create_room{
      height: 325px;
      width: 100%;
      background: transparent;
      background-color: #955f46;
      backdrop-filter: blur(20px);
      box-shadow: 0 0 10px black;
      color: white;
      border-radius: 10px;
      padding:  30px 40px;
    }

    .join_room{
      height: 325px;
      width: 100%;
      background: transparent;
      background-color: rgba(83, 25, 175, 0.952);
      backdrop-filter: blur(20px);
      box-shadow: 0 0 10px black;
      color: white;
      border-radius: 10px;
      padding:  30px 40px;
    }

    .leaderboard{
      height: 700px;
      width:500px;
      background: transparent;
      background-color: rgba(83, 25, 175, 0.952);
      backdrop-filter: blur(20px);
      box-shadow: 0 0 10px black;
      color: white;
      border-radius: 10px;
      padding:  30px 40px;
    }

    .create_room h1{
        font-size: 36px;
        text-align: center;
      }
      
      .create_room .input-space{
        position: relative;
        width: 100%;
        height: 50px;
        margin: 30px 0;
      }
      
      .input-space input{
        width: 100%;
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
        border: 2px solid rgb(133, 133, 128);
        border-radius: 40px;
        font-size: 16px;
        color: white;
        padding: 20px 45px 20px 20px;
      }
      
      .input-space input::placeholder{
        color: white;
      }
      
      .input-space i{
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
      }
    
      .input-space input:focus {
        background-color: rgba(255, 255, 255, 0.2);
        border-color: rgba(255, 255, 255, 0.5); 
        color: white; 
        outline: none; 
        transition: background-color 0.3s ease, border-color 0.3s ease;
    }